@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  scroll-behavior: smooth;
  -webkit-appearance: none;
  margin: 0;
}

body {
  cursor: url("./images/cursor.png"), auto;
}

/* Chrome, Safari, Edge, Opere */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}
